body{
    margin:0;
    padding: 0;
    background: url(images/desktop.jpg);
    background-position: center;
    background-size:cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
    
}

.box {
    
    height: auto;
    margin-top: 2px;
    width: 320px;
    background-color: #000;
    color: #ffffff;
    opacity: 0.8;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 515px;

}
#tabs-1{
    height: 270px;
}

h1{
margin:0;
padding: 0 0 20px;
text-align:center;
font-size:30px;
font-family: 'Times New Roman', Times, serif;
font-style: bold;
color:#FFA500;
}

.box p{
    margin: 0;
    padding: 0;
    font-size:20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}


.box input{
    width: 60%; 
    margin-bottom: 8px;
    margin-left: 20px;

}

.box input[type="text"],input[type="password"]{
    
    background: transparent;
    outline: none;
    height:40px;
    color :white;
    font-size:15px; 
    border: none;
    border-bottom: 1px solid white;

}

.moveRight{
    float: right;
    width: 64%;
}

.box .submitBtn{
    border:none;
    color:#ffffff;
    outline: none;
    padding:8px;
    background-color: #fb2525;
    border-radius: 7px;
    font-size:15px; 
    width:120px;
    margin-left:94px;
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    
}


.box a{
  text-decoration: none;
  color: darkgray;
  font-size:12px;
  line-height: 20px; 
}
.box a:hover{
   color:#ffc107;
  }


  span.adjustEmail {
    width: 69px;
    display: inline-block;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 210px;
    left: 36%;
}

ul li[aria-selected='true']{
    border:1px solid black !important;
    background: #000 !important;
}
.tabs {
    margin-top: 76px;
    margin-left: 516px;
    margin-right: 487px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
    
    min-height: 0px;
    opacity: 0.8;
   
    
  }
  .tabs button {
    background-color:black;
    color: white;
    border: none;
    outline: none;
    padding: 12px 45px;
    font-size: 17px;
    width: 170px;
    z-index: 1000;
    position: relative;
  }
  .tabs button .crossLeft {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    /* border-bottom: 80px solid transparent; */
    right: -26px;
    border-left: 90px solid black;
    top: 0px;
    transform: rotate(-180deg);
    /* border: 1px solid white; */
    /* border-left-color: white; */
      display:none;
}

.tabs button .crossRight {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    /* border-bottom: 80px solid transparent; */
    left: -32px;
    border-left: 75px solid black;
    top: 0px;
    transform: rotate(90deg);
    display:none;
}


  /* Change background color of buttons on hover */

  /* Create an active/current tablink class */
  .tabs button.active {
    background-color: #f30909;
    color: #000000;
    transition: none;
    color:white;    
    
  }

  .tabs button.active > div{
      display: block;
  }

  .formation .usename{
    background: transparent;
    outline: none;
    height:40px;
    color :rgb(236, 15, 15);
    font-size:15px; 
    border: none;
    margin-bottom: 18px;
    margin-left: 98px;
  }